.orders-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #000000;
  border-radius: 10px;

  &__head-row {
    background: #d9d9d9;
  }

  &__header {
    font-weight: 600;
    padding: 16px 12px;
    text-align: left;
    font-size: 18px;
    border-right: 5px solid rgba(128, 128, 128, 0.47);

    &:last-child {
      border-right: none;
    }
  }

  &__row {
    background: #ebf0ff;
  }

  &__cell {
    padding: 16px 12px;
    font-size: 18px;
    border-bottom: 5px solid #e1e1e1;
    border-right: 5px solid #e1e1e1;
    &:last-child {
      border-right: none;
    }
  }

  &__cell--wide {
    width: 100%;
  }

  &__cell--date {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
  }

  &__cell--actions {
    display: flex;
    justify-content: center;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
  }

  &__save {
    width: 36px;
    height: 36px;
    background: url("../../assets/icons/save.svg") no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
