* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body,
#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
}

.button {
  background: #dfdfdf;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding: 9px 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  &--white {
    background: #ffffff;
  }

  &--blue {
    background: #275aff;
    color: #ffffff;
  }
}
