.admin {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__search {
    position: relative;
    width: 569px;
  }

  &__input {
    width: 100%;
    padding: 12px 23px;
    padding-right: 56px;
    background: #dbdbdb;
    border-radius: 24px;
    font-size: 14px;
    border: none;

    &::placeholder {
      color: #000000;
      opacity: 0.5;
    }
  }

  &__btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: url("../../assets/icons/search-gray.svg") no-repeat center;
  }

  &__wrapper {
    padding: 24px 52px;
    background: #e1e1e1;
    border: 1px solid #000000;
    border-radius: 10px;
  }

  &__list {
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  @media (max-width: 1300px) {
    &__container {
      padding: 0 20px;
    }

    &__search {
      width: 100%;
    }

    &__wrapper {
      padding: 16px;
    }

    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
