.user {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  justify-items: center;
  padding: 18px;
  background: #ffffff;
  border-radius: 10px;

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  &__container {
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__select {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
  }

  &__text {
    font-size: 24px;
    color: #000000;
  }

  &__smal-text {
    font-size: 18px;
    color: #000000;
  }

  &__organization {
    text-align: center;
  }

  &__role {
    border: none;
    background: transparent;
    padding: 8px;
  }

  &__profile,
  &__delete {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: all 0.3s;
    background-size: cover;
    border: none;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__profile {
    background: url("../../assets/icons/account_circle.svg") no-repeat center;
  }

  &__delete {
    background: url("../../assets/icons/close.svg") no-repeat center;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }
}
