.user {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: start;
  height: 100%;
  gap: 16px;

  padding: 18px;
  background: #ffffff;
  border-radius: 10px;

  &:hover {
    text-decoration: none;
  }

  &__container {
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__select {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 16px;
  }

  &__text {
    font-size: 24px;
    color: #000000;
  }

  &__smal-text {
    font-size: 18px;
    color: #000000;
  }

  &__role {
    width: 100%;
    text-align: center;
    border: none;
    background: transparent;
    padding: 8px;
  }

  &__profile,
  &__delete {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: all 0.3s;
    background-size: cover;
    border: none;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__profile {
    background: url("../../assets/icons/account_circle.svg") no-repeat center;
  }

  &__delete {
    background: url("../../assets/icons/close.svg") no-repeat center;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  @media (max-width: 1024px) {
    &__text {
      font-size: 20px;
    }

    &__smal-text {
      font-size: 16px;
    }
  }
}
