.organizations {
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
  }

  &__button {
    align-self: flex-end;
  }

  @media (max-width: 1300px) {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 550px) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

.organization-item {
  padding: 34px 67px;
  background-color: #e1e1e1;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  transition: all 0.3s;

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #2d2d2d;

    &--hover {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1300px) {
    padding: 24px;
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
  }
  @media (max-width: 900px) {
    padding: 16px;
    &__title {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 0 auto;

  &__item {
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    word-break: break-all;
  }

  &__profile {
    width: 36px;
    height: 36px;
    background: url("../../assets/icons/account_circle.svg") no-repeat center;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    &__item {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      font-size: 16px;
    }
  }
}
